/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Orbitron';
}

.container{
    margin:5%
}


section > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: inline-block;
}


.list-item{
    list-style: none;   
    display: inline-block;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
}

.list-item:nth-child(1){
    text-decoration-line: underline;
    text-decoration-color: black;
    text-underline-offset: 5px;
    font-weight: bold;
    font-size: 30px;
}

.button-group{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.nav-button{
    font-family: 'Poppins';
    background-color: #fff;    
}


button{
    font-size: 20px;
    font-weight: 500;
    padding: 3px 35px;
    border: 2px solid black;
    border-radius: 10px;
}

svg{
    transform: scale(.50);
}


/* Hero Section  */

.hero-container{
    margin-top: 5%;   
    display: flex;
    position: absolute;
}
img{
    position: relative;
}
.square{
    position:absolute;
    top:330px;
    left:215px
}

.globe{
    position:absolute;
    left: 50%;
    top:-50px;
}

.star{
    position:absolute;
    right:150px;
}



.hero-container-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    justify-content: space-around;
}

.hero-heading{
    font-size: 60px;
}

.hero-description{
    width: 75%;
    font-family: 'Poppins';
    color: #535353;
    text-align: center;
}

.button-email{
    background-color: #ffff;
    font-family: inherit;
    font-size: 20px;
    margin-right: 10px;
    color: #8C8C8C;
}

.button-join{
    padding: 3px;
    background-color: black;
    color: #ffff;
}

.contact-heading{
    text-align: center;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 20px;
    color: #5F5F5F;
}

.icons{
    display: flex;
    width: 300px;
    justify-content: space-evenly;

}
